body {
    background-color: #f8f9fa;
}
.navbar {
    background-color: #343a40;
}
.nav-link {
    color: #fff !important;
}
.nav-link:hover {
    color: #adb5bd !important;
}

.card-text {
    list-style-type: disc;
}
footer {
    background-color: #343a40;
    color: #fff;
    padding: 20px 0;
}