{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4 text-center mb-4">Advertising Needs!</h1>
        <div class="row">
            <div class="col-md-6">
                <div class="card border-primary">
                    <div class="card-body">
                        <h2 class="card-title">Advertise a Job</h2>
                        <p class="card-text">Need to start hiring staff but you don't have the time to read through all of those CV's.</p>
                        <p class="card-text">There's nothing more annoying than having to sit through and read 100 CVs and 80 of them not having the experince or qaulifactions you need.</p>
                        <p class="card-text">Here at Rudgeys Recruitment We can do all the leg work! All we need you to do is give us some infomation:</p>
                        <ul class="card-text">
                            <li>Company Name</li>
                            <li>Company Phone Number</li>
                            <li>Company Email Address</li>
                            <li>Job Description</li>
                            <li>Who You Need</li>
                            <li>Job Benefits</li>
                            <li>Interview Dates and Times</li>
                            <li>When You Need Someone In</li>
                        </ul>
                        <a class=" advertise btn btn-primary btn-lg" href="{% url 'hiring' %}" role="button">Advertise My Role</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card border-success mt-4 mt-md-0">
                    <div class="card-body">
                        <h2 class="card-title">Download Job Description</h2>
                        <p class="card-text">You can use this Word Template to describe your role and the perfect employee.
                        </p>
                        <p class="card-text">Also don't feel like you have to follow what we have added in the Word Document.
                            This is your job we are advertising style it to meeet your standards!
                        </p>
                        <p class="card-text">Just fill the form out, save it and include this on the form when you click Advertise My Role.</p>
                        <a class="btn btn-success" href="{% static '/workspace/Project4-RR/static/word/Job Template.docx' %}" download>Download Job Description</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}