{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4 text-center mb-4">Advertising Needs!</h1>
        <div class="row">
            <div class="col-md-6">
                <div class="card border-primary">
                    <div class="card-body">
                        <h2 class="card-title">Advertise a Job</h2>
                        <p class="card-text">If you would like us to advertise your role, all we need from you is the following:</p>
                        <ul class="card-text">
                            <li>Company Name</li>
                            <li>Company Phone Number</li>
                            <li>Company Email Address</li>
                            <li>Job Description</li>
                        </ul>
                        <a class="btn btn-primary btn-lg" href="{% url 'hiring' %}" role="button">Advertise My Role</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card border-success mt-4 mt-md-0">
                    <div class="card-body">
                        <h2 class="card-title">Download Job Description</h2>
                        <p class="card-text">You can use this form below for the job description</p>
                        <a class="btn btn-success" href="{% static '/workspace/Project4-RR/static/word/Job Template.docx' %}" download>Download Job Description</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}