{% extends 'base.html' %}

{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-center mt-5">Rudgeys Recruitment</h1>

        <section id="about" class="bg-light py-5 mt-5">
            <div class="container">
                <h2 class="text-center mb-4">What is Rudgeys Recruitment?</h2>
                <p class="lead text-center">Rudgeys Recruitment is a Warrington-based job board that helps local businesses find the best candidates in the Warrington area. We also assist individuals seeking their next career move.</p>
            </div>
        </section>

        <section id="how-it-works" class="bg-light py-5 mt-5">
            <div class="container">
                <h2 class="text-center mb-4">How It Works</h2>
                <p class="lead text-center">For employers, we request job details, ideal employee criteria, and the required timeline. We then match the ideal employee with the job from our database. For employees, we require your CV and ideal job expectations including salary, hours, etc.</p>
            </div>
        </section>

        <section id="example" class="bg-light py-5 mt-5">
            <div class="container">
                <h2 class="text-center mb-4">Match Made in Heaven</h2>
                <div class="row">
                    <div class="col-md-6">
                        <h3>Job Board:</h3>
                        <p class="lead">Take a look at all the jobs we have advertised by signing up all you need to do is click apply and you're one step closer to that big step in your career.</p>
                        <p class="lead">What are you waiting for? Let's get you signed in and start searching!</p>
                        <a href="{% url 'account_login' %}" class="btn btn-primary btn-lg log_in">Sign In</a>
                    </div>
                    <div class="col-md-6">
                        <h3>Hiring:</h3>
                        <p class="lead">We have some of Warrington's best talent looking for their next big break. by filling out one of our job forms we find you the dream employee!</p>
                        <p class="lead">Get your role on our website just click below to fill out our form!</p>
                        <a href="{% url 'hiring' %}" class="btn btn-primary btn-lg log_in">Hiring</a>
                    </div>
                </div>
        </section>
    </div>
{% endblock %}