{% extends 'base.html' %}

{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1>Rudgeys Recruitment</h1>

    <section id="about" class="bg-light py-5">
        <div class="container">
          <h2 class="text-center mb-4">What is Rudgeys Recruitment</h2>
          <p class="lead text-center">Is a Warrington base job board that helps local business find the best candidates in the Warrington area,
            We also help people who are looking for their next big career move.
          </p>
          <hr>
        </div>
      </section>

      <section id="how-it-works" class="bg-light py-5">
        <div class="container">
          <h2 class="text-center mb-4">How It Works</h2>
          <p class="lead text-center">For Employers all we ask for is for you to send over the job details, the ideal employee
            and when you need this empployee by and what we do is go on our database and match the dream employee with the dream job.
            For a employee looking to make their next big career job all we would need is your CV, ideal job and expections
            example being Salary, Hours ect.
        </p>
        <hr>
        </div>
      </section>

      <section id="example" class="bg-light py-5">
        <div class="container">
          <h2 class="text-center mb-4">The Final Result</h2>
          <div class="row">
            <div class="col-md-6">
              <h3>Job Board:</h3>
              <p>Take a look at all the jobs we have advertise</p>
              <hr>
            </div>

            <div class="col-md-6">
              <h3>Employees:</h3>
              <p>Take a look and some of the Warringtons best looking for their next big break.</p>
              <hr>
            </div>
          </div>
        </div>
      </section>
{% endblock %}